<div class="header_ayuda">
    <img src="../../../assets/img/pregunta.png" alt="" class="image">
    <div class="header_texto">¿Necesitas Ayuda?</div>
</div>

<div class="logo">
    <img src="../../../assets/img/coink.png" alt="">
</div>

<section class="datos">
    <div class="caja">

        <div class="caja_text">
            <span class="caja_texto">INGRESA A TU CUENTA</span>
        </div>
        <div class="formulario">
            <form autocomplete="off" [formGroup]="form" (ngSubmit)="guardar()">
                <!-- <div>
                    <div class="form-group row">
                        <div class="col">
                            <input class="form-control" type="text" placeholder="Nombre" formControlName="nombre">
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col">
                            <input class="form-control" type="text" placeholder="Apellido" formControlName="apellido">
                        </div>
                    </div>

                </div> -->
                <div class="form-group row">
                    <mat-form-field class="example-full-width">
                        <mat-label>Usuario</mat-label>
                        <input matInput placeholder="" formControlName="usuario">
                    </mat-form-field>
                </div>

                <div class="form-group row">
                    <mat-form-field class="example-full-width">
                        <mat-label>Contraseña</mat-label>
                        <input matInput placeholder="" formControlName="password">
                    </mat-form-field>
                </div>

                <div class="example-button-row">
                    <button mat-raised-button type="submit">INGRESAR</button>
                </div>
            </form>
        </div>

    </div>



</section>

<div class="footer">
    <div class="footer_texto">Copyright 2020 Coink S.A.</div>
</div>