/* html,
body {
    margin: 0;
    height: 100%;
    background: #004B40 0% 0% no-repeat padding-box;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    opacity: 1;
} */


/* html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
} */

.component {
    background: #004B40 0% 0% no-repeat padding-box;
}

.header_ayuda {
    padding: 10px;
    align-items: center;
    display: flex;
}

.header_texto {
    text-align: center;
    text-decoration: underline;
    font: normal normal normal 14px/23px Avenir Next;
    color: #FFFFFF;
    opacity: 1;
    padding-left: 5px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.datos {
    padding: 20px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.caja {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 3px solid #1EEB00;
    opacity: 1;
    width: 460px;
    height: 380px;
    padding: 15px;
    /*     display: flex;
    align-items: center;
    justify-content: center; */
}

.caja_code {
    width: 650px;
    height: 420px;
}

.logo_escudo {
    margin-top: 0;
}

.caja_text {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3%;
}

.caja_texto {
    /* display: block;
    justify-content: center; */
    font: normal normal bold 20px/23px Modern;
    color: #004B40;
    opacity: 1;
}

.validate {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5%;
}

.validate_texto {
    /* display: block;
    justify-content: center; */
    font: normal normal 20px/23px Arial;
    color: #196F3D;
    opacity: 1;
    text-align: center;
}

.formulario {
    /* display: flex;
    align-items: center;
    justify-content: center; */
    padding-top: 20px;
}

.form-group {
    justify-content: center;
}

mat-label {
    font: normal normal normal 14px/28px Avenir Next LT Pro;
    color: #9F9F9F;
}

.example-full-width {
    width: 60%;
}

.example-button-row {
    display: flex;
    justify-content: center;
}

.button {
    border-radius: 24px;
    background: #1EEB00 0% 0% no-repeat padding-box;
    text-align: center;
    font: normal normal bold 14px/13px Montserrat;
    color: #004B40;
    padding: 10px;
    width: 30%;
    position: relative;
    right: 5em;
    outline: none;
}

.olvide {
    margin: 10px;
}

.olvide span {
    display: block;
    text-decoration: underline;
    font: normal normal normal 12px/28px Avenir Next LT Pro;
    color: #4D4D4D;
    opacity: 1;
    position: relative;
    left: 6em;
}

.vincular {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: underline;
    font: normal normal normal 14px/23px Avenir Next;
    color: #FFFFFF;
    opacity: 1;
    margin-top: 5%;
}

.footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    padding: 15px;
    background-color: #1EEB00;
}

.footer_texto {
    text-align: right;
    font: normal normal normal 14px/13px Avenir Next LT Pro;
    color: #004B40;
    opacity: 1;
}

.center {
    right: 0em;
}