/* You can add global styles to this file, and also import other style files */

body {
    margin: 0;
    /*     top: 0px;
    left: 0px;
    width: 1366px;
    height: 724px; */
    background: #004B40 0% 0% no-repeat padding-box;
    opacity: 1;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
