/* You can add global styles to this file, and also import other style files */

html,
body {
    margin: 0;
    height: 100%;
    background: #004B40 0% 0% no-repeat padding-box;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    opacity: 1;
}